.colors {
    color: #010e3b;
    color: hsl(200, 85%, 44%);
}

:root{
  --primary: hsl(200, 85%, 44%);
  --secondary: white;
  --background: hsl(0, 0%, 10%);
  --carousel: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, p{
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
    --px-backgroind: 180px;
    background-color: white;
    font-size: unset;
    /* background-color: var(--background); */
    font-family: 'Poppins', Roboto, BlinkMacSystemFont, 'Open Sans';
    margin: 0;
    min-height: 100vh;
    padding: 0;
    height: auto;
    width: 100%;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}


h1{
  color: var(--primary);
}

header {
    height: 75px;
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0)); */

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.arrow{
  position: absolute;
  bottom: 70px;
  right: calc(50% - 20px);
  border-right: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  transform: rotateZ(45deg);
  animation: arrow 2.3s ease infinite 1.5s;
  opacity: 0;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.arrow::before{
  content: "";
  position: absolute;
  bottom: 4px;
  right: 4px;
  border-right: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  /* transform: rotateZ(45deg); */
  /* animation: arrows 2.3s ease-in infinite 1.5s; */
  width: 18px;
  height: 18px;
}

.arrow::after{
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-right: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  /* transform: rotateZ(45deg); */
  /* animation: arrows 2.3s ease infinite 1.7s; */
  width: 17px;
  height: 17px;
}


@keyframes arrow{
  0%, 100%{
    opacity: 0;
    transform: translate(0,0) rotate(45deg);
  }
  to{
    opacity: 1;
    transform: translate(0,40px) rotate(45deg);
  }
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#scrollIndicator {
  position: absolute;
  top: 0;
  height: 7px;
  width: 100%;
  background-color: rgb(27, 125, 195);
  z-index: 10;
  transform-origin: left center;
  transform: scale(0, 1);
}

#hero {
    margin: 0;
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.2)), */
    /* rgba(34,34,34,1) 30% */
     /* linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 100%) */
    background-image: url(../img/fondo1.svg), linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    background-position: center top;
    /* url(../img/SKDanimation.webp),  */
    /* 30% auto, */
    /* no-repeat, */
    background-size: cover, 100%;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 110px;
}

#hero img{
  min-width: 300px;
  width: 30%;
  max-width: 800px;
}

#hero div {
    display: flex;
    width: 100%;
    height: 100%;
}

.weDiv {
    color: white;
    /* padding-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
}

.weDiv > h3{
  text-align: center;
  font-weight: 200;
  letter-spacing: 15px;
  font-size: 3em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: initial;
  /* font-variant: small-caps; */
}

/* .titleDiv {
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 100px 150px 0 0;
    font-size: 5em;
} */

/*----------------------------------Why us-----------------------------------------*/

#whyus{
  /* background: linear-gradient(-45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%); */
  /* background: linear-gradient(-45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--background) 100%); */
  background-color: #d6d6d6;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 1;
  min-height: 100vh;
  padding-top: 80px;
  overflow: hidden;
}

#whyus .titles{
  margin-bottom: 100px;
}

#whyus > .whyus{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-width: 40ch;
  width: 20%;
  text-align: center;
  margin-bottom: 180px;
  background-color: var(--background);
  /* height: 20%; */
  min-height: 180px;
  position: relative;
  padding-bottom: 40px;
}

#whyus > .whyus::before{
  content: "";
  background-color: #f0f0f0;
  border-radius: 50%;
  top: -75px;
  width: 150px;
  height: 150px;
  position: absolute;
}

#whyus p{
  width: 35ch;
}

#full{
  width: 100%;
}

.circle > img{
  width: 100px;
}

.circle{
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -65px;
  width: 130px;
  height: 130px;
}

.backCard{
  padding: 25px 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  transform-origin: top;
  position: absolute;
  width: 95%;
  height: 180px;
  /* bottom: -85%; */
  bottom: 0px;
  transition: .5s all ease;
  color: black;
  /* opacity: .99; */
  /* transform: scale(1,0); */
  z-index: -1;
}

#whyus > .whyus:hover > .backCard{
  /* transform: scale(1,1); */
  transform: translateY(100%);
}

.backCard::after{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--background);
  width: 105%;
  height: 50px;
}



/*-----------------------------------Services--------------------------------------*/


#services{
    padding: 15px 0 0 0;
    z-index: 1;
    position: relative;
    /* background: linear-gradient(45deg, #89ff00 0%, #00bcd4 5%, rgb(90, 90, 90) 5%, rgb(90, 90, 90) 95%, #ff0000 95%, #ffc107 100%); */
    /* background: linear-gradient(45deg, #ffffff 0%, #fff 10%, #1a1a1a 10%, #1a1a1a 90%, #fff 90%, #fff 100%); */
    /* background: linear-gradient(45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%); */
}

#services h1{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

#services i{
  font-size: 5em;
  font-weight: 900;
}

.titles{
    font-size: 2em;
    width: 100%;
    margin: 0px 0;
    text-align: center;
    color: var(--primary);
}

.servicesCards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

    height: auto;
    width: 80%;
    margin: 100px 0;
}

.service-card{
  height: 200px;
  width: 300px;
  margin-bottom: 50px;
  z-index: 1;
  transition: .5s ease;
  position: relative;
}

.card-header{
  width: 300px;
  height: 200px;
  background-color: var(--background);
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s all ease !important;
  z-index: 2;

  top: 0;
  left: 0;
}

.card-body{
  width: 300px;
  height: 200px;
  position: absolute;
  background-color: var(--background);
  color: white;
  box-shadow: 0px 35px 19px 20px hsla(0, 0%, 0%, .5);
  transition: .5s all ease;
  z-index: -1;

  top: -50px;
  left: 0;

  padding: 0px 15px 15px 15px;
}

.card-body > h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 0;
}

.card-body > .content {
    color: rgb(126, 126, 126);
    margin-top: 0;
}

.service-card:hover {
    transform: translate(0, -150px);
}

.service-card:hover > .card-body {
    transform: translateY(calc(100% + 50px));
    background-color: white;;
    box-shadow: none;
    /* background-color: hsla(205, 85%, 45%, 1); */
}

.service-card:hover .card-body > h2{
  color: black;
}

.service-card:hover > .card-header {
    background-color: hsla(205, 85%, 45%, 1);
    /* color: hsla(205, 85%, 45%, 1); */
}

/*-----------------------------------WORKS------------------------------------------*/

#works{
  /* background: linear-gradient(-45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%); */
  background-color: #f0f0f0;
}

#works h1{
  width: 100%;
  text-align: center;
}

.workCards {
  margin: 50px 0 100px 0;
}

.work{
  margin: 20px 50px;
  width: 300px;
  height: 250px;
  background-color: black;
  margin: 0 20 0 20;
  transition: .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.work > h2 {
  opacity: 0;
  transition: opacity .5s;
}

.work:hover > h2 {
  opacity: 1;
}

.work:nth-child(3):hover {
  box-shadow: -250px 250px 0px 250px inset rgba(255, 255, 255, 0.527);
}

.work:nth-child(1):hover {
  box-shadow: 250px 250px 0px 250px inset rgba(255, 255, 255, 0.527);
}

.work:nth-child(2):hover {
  box-shadow: 0px 250px 0px 250px inset rgba(255, 255, 255, 0.527);
}

/*-----------------------------------PERSONAL CARDS---------------------------------*/

#personal {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  /* background: linear-gradient(-45deg, #ffc107 0%, #ff0000 5%, rgb(45, 45, 45) 5%, rgb(45, 45, 45) 95%, #00bcd4 95%, #89ff00 100%); */

  /* background: linear-gradient(-45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%); */
  /* background: linear-gradient(-45deg, var(--background) 0%, var(--background) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%); */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.arrowCard{
  color: var(--primary);
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6em;
  z-index: 5;
}

.next{
  right: 10px;
  left: initial;
}

.personalCards {
  width: 80%;
  min-height: 600px;
  height: auto;
  max-width: 1500px;

  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  grid-template-rows: 100%;
  grid-row-gap: 15px;
  flex-wrap: nowrap !important;
  /* justify-content: center;
  align-items: flex-start; */
  /* position: relative; */
  overflow: hidden;
  z-index: 1;
}

.personContainer {
  box-shadow: 0px 10px 20px 5px hsla(205, 0%, 0%, 1);
  transform-style: preserve-3d;
  transition: .5s ease-in-out;
  margin: 0;
  padding: 0;
  min-width: 350px;
  width: 350px;
  height: auto;
  transform: translateX(calc(var(--carousel) * 1vw));
  margin: 15%;
  max-width: 350px;
  overflow: hidden;
}

.cardHeader{
  background-color: #f0f0f0;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cardHeader img{
  width: 50%;
  border-radius: 50%;
  position: relative;
}

/* .cardHeader img::after{
  content: "";
  background-color: var(--primary);
  position: absolute;
  top: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
} */

.person {
  min-height: 300px;
  height: 60%;
  width: 100%;
  /* background: linear-gradient(90deg, rgb(220, 220, 220) 50%, rgb(180, 180, 180) 50%, rgb(180, 180, 180) 100%); */
  background-color: var(--background);
  color: white;
  position: relative;

  transform-style: preserve-3d;
  transition: .5s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.person::after, .person::before, .cardFooter::after, .cardFooter::before{
  content: "";
  position: absolute;
  left: -12%;
  top: -8%;
  border-radius: 50%;
  width: 22.85%;
  height: 22.85%;
  background-color: var(--background);
}

.person::after, .cardFooter::before{
  left: initial;
  right: -12%;
  z-index: 0;
}

.person .title{
  position: absolute;
  background-color: var(--primary);
  top: 0;
  transform: translateY(-50%);
  width: 80%;
  border-radius: 25px;
  z-index: 1;
}

.person h3, .person h5 {
    text-align: center;
    color: white;
    margin: 0;
}

.person .information {
    color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 1.8em;
    position: relative;
    overflow: visible;
}

.information div span{
  background-color: #f0f0f0;
  border-radius: 5px;
  bottom: 60px;
  clip-path: inset(100% 0% 100% 0%);
  color: var(--primary);
  display: block;
  font-size: .6em;
  max-height: 25px;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  position: absolute;
  padding:  0 4px 0;
  transition: .5s all;
}

.personContainer .information div span::before{
  content: "";
  display: block;
  position: inherit;
  background-color: green;
  top: 100%;
  right: 100%;
  width: 25px;
  height: 25px;
  clip-path: polygon(50% 50%, 50% 50%, 100% 0);
  z-index: 2;
}

.personContainer .information div a{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.personContainer:hover {
    box-shadow: 0px 10px 20px 5px hsla(205, 85%, 45%, 1);
}

.information div:hover i{
    color: hsl(205, 95%, 45%);
}

.information div:hover span{
    clip-path: inset(0);
}

.cardFooter{
  width: 100%;
  background-color: var(--primary);
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  border-radius: 25px;
}

.cardFooter::after, .cardFooter::before{
  background-color: var(--primary);
  height: 80px;
  top: -13px;
  left: -10%;
}

.cardFooter::after{
  left: initial;
  right: -10%;
}

.cardFooter > h5{
  height: 65px;
  padding-top: 20px;
}

.cardFooter > h5:before{
  content: "";
  background-color: var(--background);
  width: 81.14%;
  border-radius: 25px;
  height: 50px;
  position: absolute;
  top: -32px;
  left: 9.42%;
  z-index: 1;
}

/* .personContainer .information span:hover::after{
  display: block;
} */

/* .enable-Left {
    transform-origin: left center;
    transform: perspective(500px) rotatey(45deg) translatex(120px);
}

.enable-right {
    transform-origin: right center;
    transform: perspective(500px) rotatey(-45deg) translatex(-120px);
} */

/*----------------------------------------Contact Form----------------------------------------------------------*/

#contactus{
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(-45deg, var(--secondary) 0%, var(--secondary) var(--px-backgroind), var(--background) calc(0% + var(--px-backgroind)), var(--background) calc(100% - var(--px-backgroind)), var(--secondary) calc(100% - var(--px-backgroind)), var(--secondary) 100%);
}

.contactForm{
    background-color: hsla(259,2%,22%,1);
    color: white;
    min-width: 400px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 800px;
    max-height: 500px;
    width: 70vw;
    padding: 20px 20px;
    position: relative;
    transition: .5s;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background-color: rgb(255, 255, 255);
    clip-path: inset(40% 40% 40% 40%);
}

.contactForm::before{
    background-color: hsla(0, 0%, 45%, .96);
    content: "";
    width: 2px;
    position: absolute;
    left: 50%;
    top: 20px;
    bottom: 20px;
}

.textareaContainer{
    min-height: 300px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    clip-path: inset(calc(80% + 20px) 0% 0% 0%);
    background-color: #353535;
}

.textarea{
    height: 170px;
    height: calc(70% - 20px);
    height: -webkit-calc(70% - 20px);
    width: calc(100% - 10px);
    padding: 0 0 0 10px;
    background: transparent;
    border: none;
    color: white;
    max-width: 500px;
    resize: none;
    outline: 0;
    position: relative;
    border-bottom: 2px solid hsla(0, 0%, 45%, .96);
}

.basicInformationContainer {
    height: 300px;
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    clip-path: inset(0% 0% calc(80% + 10px) 0%);
    background-color: #353535;
}

.textareaContainer [type="submit"]{
    height: calc(20% - 20px);
    color: white;
    font-size: 1.8em;
    background-color: hsla(205, 85%, 45%, 1);
    outline: 0;
    border: none;
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    margin: 10px 0 0 0;
    /* transform: scale(1000, 1000); */
    /* transition: .5s; */
}

@keyframes animation {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animation1 {
    0% {
        clip-path: inset(40% 40% 40% 40%);
    }

    100% {
        clip-path: inset(0% 40% 0% 40%);
        background-color: var(--background);
    }
}

@keyframes animation2 {
    0% {
        clip-path: inset(0% 40% 0% 40%);
        background-color: var(--background);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        background-color: #1a1a1a00;
    }
}

@keyframes test {
    0% {
        transform: rotate(15deg);
    }

    16.5% {
        transform: rotate(-15deg);
    }

    33% {
        transform: rotate(0deg);
    }

    40% {
        clip-path: inset(40% 40% 40% 40%);
    }

    66% {
        clip-path: inset(0% 40% 0% 40%);
        background-color: var(--background);
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        background-color: var(--background);
    }
}

@keyframes animationLeftColumn {
    0% {
        clip-path: inset(0% 0% calc(80% + 10px) 0%);
        background-color: #353535;
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        background-color: #1a1a1a00;
    }
}

@keyframes animationRightColumn {
    0% {
        clip-path: inset(calc(80% + 20px) 0% 0% 0%);
        background-color: #353535;
    }

    100% {
        clip-path: inset(0% 0% 0% 0%);
        background-color: #1a1a1a00;
    }
}

.textareaContainer [type="submit"]:hover {
    background-color: hsla(205, 65%, 65%, 1);
}

.inputContainer{
    width: calc(100% - 70px);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contactForm h1{
    background-color: hsla(205, 85%, 45%, 1);
    padding-left: 20px;
    width: auto;
    font-size: 2em;
    position: relative;
    align-self: flex-start;
    margin: 0;
}

.contactForm h1::before{
    content: "";
    background-color: hsla(0, 0%, 45%, .96);
    /* border-bottom: 2px solid hsla(0, 0%, 45%, .96); */
    height: 2px;
    width: calc(100% + 20px);
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.input{
    background: none;
    color: white;
    border: none;
    width: 70%;
    margin-top: 5px;
    border-bottom: 2px solid hsla(0, 0%, 45%, .96);
    text-rendering: optimizeLegibility;
    outline: 0;
}

.inputContainer label{
    text-align: left;
    margin-top: 40px;
    /* transform: translateY(20px); */
}

/* .input:focus + label {
transform: translateY(20px);
} */

/*-----------------------------------Icons---------------------------------*/

footer {
  background-color: rgb(33,33,33);
  width: 100%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
}

/* footer .imageF {
  width: 10%;
  text-align: center;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */

footer > img{
  height: 100%;
  width: auto;
  max-width: 300px;
  max-height: 200px;
}

footer .contacCont{
  /* width: 70%; */
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  min-width: 300px;
  padding-left: 10px;
}

.contact {
  position: relative;
  padding-left: 30px;
  color: white;
  margin: 10px 0;
}

footer .contacCont .contact:last-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* #logoFooter {
  min-width: 200px;
  max-width: 300px;
} */

#location::before {
  content: url(../img/icon-location.svg);
  position: absolute;
  left: 5px;
}

#number::before {
  content: url(../img/icon-phone.svg);
  position: absolute;
  left: 0;
}

#email::before {
  content: url(../img/icon-email.svg);
  position: absolute;
  left: 0;
}

#Rs{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-width: 300px;
  width: 30%;
}

.iconRS {
    align-items: center;
    display: flex;
    font-size: 40px;
    height: 60px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 60px;
    cursor: pointer;
}

.iconRS span {
  background-color: var(--primary);
  border-radius: 25px;
  position: absolute;
  transition: 0.5s ease;
}

.iconRS span:nth-child(even) {
  height: 2px;
  transform: scale(1, 1);
  width: 60px;
}

.iconRS span:nth-child(odd) {
  height: 60px;
  transform: scale(1, 0);
  width: 2px;
}

.iconRS:hover span:nth-child(even) {
  transform: scale(0, 1);
}

.iconRS:hover span:nth-child(odd) {
    transform: scale(1, 1);
}

.iconRS .border_bottom {
    bottom: 0px;
    left: 0px;
    transform-origin: left;
}

.iconRS .border_top {
    left: 0px;
    top: 0px;
    transform-origin: right;
}

.iconRS .border_right {
    right: 0px;
    top: 0px;
    transform-origin: top;
}

.iconRS .border_left {
    left: 0px;
    top: 0px;
    transform-origin: bottom;
}


@media only screen and (max-width: 1020px) {

    body {
        font-size: .75em;
        --px-backgroind: 100px;
    }

    /*------------------------------SERVICES--------------------------------------*/

    .servicesCards {
        flex-wrap: wrap;
    }

    .containerCards {
        margin: 100px 50px;
    }

    .card-body {
        top: -35px;
    }

    .service-card:hover > .card-body {
        transform: translateY(calc(100% + 35px));
        background-color: white;;
        box-shadow: none;
        /* background-color: hsla(205, 85%, 45%, 1); */
    }

    /*------------------------------PERSONAL--------------------------------------*/

    /*------------------------------CONTACT US--------------------------------------*/

    .contactForm {
        font-size: 1em;
        width: 90vh;
    }
}

@media only screen and (max-width: 650px) {

    body {
        --px-backgroind: 70px;
    }

    #word{
      display: block !important;
    }

    /*------------------------------PERSONAL--------------------------------------*/

    /*------------------------------CONTACT US--------------------------------------*/
    .theFather {
        width: 100%;
        overflow-x: hidden;
        height: auto;
        margin: 50px 0;
    }

    .contactForm {
        font-size: 1em;
        width: 100%;
        height: auto;
        max-height: unset;
        min-width: unset;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: unset;
    }

    .contactForm::before{
        height: 2px;
        width: unset;
        top: 50%;
        left: 20px;
        right: 20px;
        z-index: 10;

    }

    .textareaContainer {
        max-width: unset;
    }

    /*-------------------Footer------------------------------*/

    .contact{
      width: 50%;
    }

    .iconRS{
      margin: 15px auto;
    }
}

@media only screen and (max-width: 800px) {
  .personContainer{
    /* transform-origin: center; */
    transform: translateX(calc(var(--carousel) / 100 * 320px ));
    margin: 0;
    min-width: 320px;
    width: 320px;

    box-shadow: none;
  }

  .personalCards{
    /* padding: 10%; */
    grid-template-columns: 100% 100% 100% 100%;
    width: 320px;
    overflow: hidden;
    position: relative;
  }

  .arrowCard{
    width: 40px;
    height: 40px;
    bottom: 0px;
    top: 90%;
    left: 40px;
  }

  .next{
    left: initial !important;
    right: 50px;
  }
}
